<ul class="list-unstyled">
    <% @tasks.each do |task| %>
        <!--<img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">-->
        <div class="media-body">
            <tr>
              <td class="mb-0"><%= link_to task.id, task %></td>
              <td class="mb-0"><%= task.status %></td>
              <td class="mb-0"><%= task.content %></td>
            </tr>
            <div>
                <!--<% if current_user == task.user %>-->
                <!--<%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>-->
                <!--<% end %>-->
            </div>
        </div>
    <% end %>
</ul>